@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h3>Stylist Name: @Model.StylistName</h3>
<hr />

 @if (@Model.Clients.Count == 0)
{
  <h4>This Stylist has no customers! are they even getting paid?</h4>
  <p>@Html.ActionLink("Add new Client", "Create","Clients")</p>
}
else
{
  <ul>
    @foreach (Client client in Model.Clients)
    {
      <li>@Html.ActionLink($"{client.ClientName}", "Details", "Clients", new { id = client.ClientId })</li>
    }
  </ul>
} 

<br>

<p>@Html.ActionLink("Edit Stylist", "Edit", new {id = Model.StylistId})</p>
<p>@Html.ActionLink("Fire Stylist", "Delete", new {id = Model.StylistId})</p>
<p>@Html.ActionLink("Back to other Stylists","Index")</p>
