@{
  Layout = "_Layout";
}

<p>List of all of our Clients: </p>

@using HairSalon.Models;
@model List<HairSalon.Models.Client>;

@if (@Model.Count == 0)
{
  <h3>Fool no Clients have been added yet! What did you expect?</h3>
} 

<ul>
  @foreach (Client client in Model)
  {
     <li>@Html.ActionLink($"{client.ClientName}","Details", new { id = client.ClientId}) | @client.Stylist.StylistName </li> 
  }

</ul> 

<p>@Html.ActionLink("Add new Client", "Create")</p>
<p>@Html.ActionLink("Look at Stylists", "Index", "Stylists")</p>